body {
    background: #eeeeee;
    font-family: Verdana, sans-serif;
}

media-projector-element {
     width: 750px;
     height: 500px;
     display: block;
     background: #f9f9f9;
    text-align: center;
     padding: 20px;
 }
